@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-main: #161a1d;
  --color-card: #0f0e0f;
  --color-input: #aeaeae;
  --color-text: #ffffff;
  --color-pollak-green: #057352;
  --color-danger: #ff0303;
  --color-dark-text: #000000;
  --color-active-button: #057352;
  --color-disabled-button: #03c289;
  --color-off: #848484;
}

* {
  color: #ffffff;
}

.hover-effect {
  @apply relative inline-block text-white transition-colors duration-300 ease-in-out;
}

.hover-effect::before {
  @apply absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 ease-in-out;
  content: "";
  transform: translateX(-50%);
}

.group:hover .hover-effect::before {
  @apply w-full;
}

.off-color-text {
  color: var(--color-off) !important;
}
