@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-main: #161A1D;
  --color-card: #0F0E0F;
  --color-input: #AEAEAE;
  --color-text: #FFFFFF;
  --color-pollak-green: #057352;
  --color-danger: #FF0303;
  --color-dark-text: #000000;
  --color-active-button: #057352;
  --color-disabled-button: #03C289;
  --color-off: #848484;
}

* {
    color: #FFFFFF;
}

.hover-effect {
  @apply relative inline-block text-white transition-colors duration-300 ease-in-out;
}

.hover-effect::before {
  @apply absolute bottom-0 left-1/2 w-0 h-[2px] bg-white transition-all duration-300 ease-in-out;
  content: "";
  transform: translateX(-50%);
}

.group:hover .hover-effect::before {
  @apply w-full;
}